<div class="container">

  <h1>Edit a case</h1>

  <div>
    <%= simple_form_for(@case) do |f| %>
      <%= f.input :description, as: :text %>
      <%= f.association :patient, label: "Choose from existing patient" %>
      <%= f.button :submit, class: "btn btn-primary mb-5" %>
    <% end %>
  </div>

  <div>
    <h4>Patient ID: <%= @case.patient.id %></h4>
    <%= link_to "Edit this patient", edit_patient_path(@case.patient) %>
    <p>Patient medical reports to be listed here</p>
  </div>

</div>
