<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path "jonathan-borba-v_2FRXEba94-unsplash_ic83ok", crop: :fill %>')">
  <div class="container">
    <div>
      <div class="small-banner-text col-md-8">
        <h2>CASES</h2>
        <h1 class="banner-title">Doctor a designation where passion and profession co-exist</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-auto">
  <div style="background-color: #071532" class="index-icons d-flex justify-content-center align-items-start py-3">
    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410924/index-search-icon_pdizpl.png" alt="">
      <div>
        <p>Find a case which you can <br>bring your expertise to</p>
      </div>
    </div>

    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <div class="d-flex">
        <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410955/index-case-icon_zciaqa.png" alt="">
      </div>
        <div class="add-button"><%= link_to "new", new_case_path, class: "my-2" %></div>
      <div>
        <p>Create your own case and seek <br>for a second opinion</p>
      </div>
    </div>

    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410926/index-project-icon_u46wzp.png" alt="">
      <div>
        <p>Link your case to a project to get <br>connected with doctors</p>
      </div>
    </div>

  </div>
</div>

  <div class="container pt-5">
    <div>
      <ul class="overflow cards-container pb-5 mb-3">
        <% @cases.each do |c| %>
          <li class="card-case">
            <div class="card-doctor-email">
              <span><%= c.user.full_name.upcase %></span>
              <p><%= c.user.email %></p>
            </div>
            <div class="card-main-infos">
                <!-- should show case title-->
              <h2><%= c.title %></h2>
              <p><%= c.description %></p>
            </div>
            <div class="card-bottom-infos">
              <div class="card-gender-age">
                <!-- add link to patient profile page-->
                <% if  c.patient.gender == "female"%>
                    <p class="rounded-gender">F</p>
                <% else %>
                    <p class="rounded-gender">M</p>
                <% end %>
                <span class="card-age"><%= c.patient.age %> <span class="card-year">year</span></span>
               <!--  <span>Patient: <%= c.patient.id %></span> -->
              </div>
              <div>
                <%= link_to "Read more ￫",case_path(c) %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

 <div class="light-blue-rectangle"></div>



