<div class="container">

  <div>
    <h2>Case: <%= @case.id %></h2>
    <% if current_user == @case.user %>
      <%= link_to "Edit", edit_case_path(@case) %>
      <%= link_to "Delete", case_path(@case), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
    <h4>Description:</h4>
    <p><%= @case.description %></p>
    <hr>

    <div>
      <% @case.patient.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div>
      <% @case.patient.documents.each do |document| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>

  </div>

  <div>
    <h4>Associated projects</h4>
    <ul>
      <% @links.each do |link| %>
        <% if link.case == @case %>
          <li>
            <%= link_to(project_path(link.project)) do %>
              <%= link.project.name %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <h4>Doctor info:</h4>
    <p>Dr <%= @case.user.first_name %><%= @case.user.last_name %></p>
    <p><%= @case.user.specialization %></p>
    <p><%= @case.user.email %></p>
  </div>

  <%= link_to "Back to list of cases", cases_path %>

</div>
