<div class="small-banner" style="background-image: url('<%= cl_image_path "pexels-rfstudio-3825539_v0zo7h", crop: :fill %>')">
  <div class="container">
    <div class="small-banner-text col-md-8">
      <h2>CASE</h2>
      <h1 class="banner-title">Name<%= @case.title %></h1>
      <a href="#case-title">Read more</a>
    </div>
  </div>

</div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
    <%= link_to "Back to list of cases", cases_path, class: "btn-s-blue mt-2" %>
        <% if current_user == @case.user %>
          <%= link_to "Edit", edit_case_path(@case), class: "btn-s-blue" %>
          <%= link_to "Delete", case_path(@case), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-s-blue" %>
        <% end %>
        <h2 id="case-title" class="title">Case: <%= @case.title %></h2>
        <div class="global-text"><%= @case.description %></div>
        <hr>
        <div>
          <p class="doctor-name"><%= @case.user.first_name.upcase %> <%= @case.user.last_name.upcase %></p>
          <p class="doctor-specialization"><%= @case.user.specialization %></p>
        </div>
        <p class="doctor-email"><%= @case.user.email %></p>
      </div>

      <div>
        <% @case.patient.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div>
        <% @case.patient.documents.each do |document| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>

<!--   <div class="container py-5">
    <div class="mt-3">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-between">
        <hr>
            <div>
              <p class="doctor-name"><%= @case.user.first_name.upcase %> <%= @case.user.last_name.upcase %></p>
              <p class="doctor-specialization"><%= @case.user.specialization %></p>
            </div>
            <p class="doctor-email"><%= @case.user.email %></p>
        </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="accordion-container py-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <h2 class="title mb-5">Medical Report</h2>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Medication
                              </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body panel-grid">
                              <% if @case.patient.medications.attached? %>
                                <% @case.patient.medications.each do |medication| %>

                                  <%= render partial: 'medication-modal', locals: { item: medication } %>
                                <% end %>
                              <% end %>
                          </div>
                      </div>
                  </div>





                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Treatment or Therapy
                              </a>
                          </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Procedure or Surgery
                              </a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Lab or Test
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  Genetic Result
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingSix">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                  Allergy
                              </a>
                          </h4>
                      </div>
                      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                          <div class="panel-body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="light-blue-rectangle"></div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <h2 class="projects-title pt-5 mb-2">PROJECTS</h2>
      <ul class="list-inline">
        <li class="list-inline-item">List of the projects this case is involved in</li>
        <li class="list-inline-item">Collaborator</li>
      </ul>

      <ul class=" pl-0">
        <% @links.each do |link| %>
          <% if link.case == @case %>
            <li> <%= link_to(project_path(link.project)) do %>
              <%= link.project.name %>
            <% end %>
              <%= link.project.collaborations.count %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
