<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path "pexels-tima-miroshnichenko-5407212_nwdzks", crop: :fill %>')">
  <div class="container">
    <div>
      <div class="small-banner-text col-md-8">
        <h2>CASE</h2>
        <h1 class="banner-title"><%= @case.title %></h1>
        <a href="#medical-report-anchor">Medical report</a>
      </div>
    </div>
  </div>
</div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="pl-0 mt-5 col-md-6 d-flex justify-content-between">
          <div><%= link_to "Back to cases", cases_path, class: "purple-button" %></div>
          <div class="col-md-3 d-flex justify-content-between">
            <% if current_user == @case.user %>
                <div><%= link_to "Edit", edit_case_path(@case), class: "purple-button" %></div>
                <div><%= link_to "Delete", case_path(@case), method: :delete, data: { confirm: "Are you sure?"}, class: "purple-button" %></div>
            <% end %>
          </div>
        </div>

        <div class="global-text pt-3 pb-5">
          <%= @case.description %>
          <hr>
          <div class="d-flex justify-content-between">
            <div>
              <p class="doctor-name"><%= @case.user.first_name.upcase %> <%= @case.user.last_name.upcase %></p>
              <p class="doctor-specialization"><%= @case.user.specialization %></p>
            </div>
            <p class="doctor-email"><%= @case.user.email %></p>
          </div>
        </div>
      </div>

      <div>
        <% @case.patient.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div>
        <% @case.patient.documents.each do |document| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>


  <div class="accordion-container py-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <h2 id="medical-report-anchor" class="title mb-5">Medical Report</h2>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Medication
                              </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body panel-grid">
                            <% if @case.patient.medications.attached? %>
                              <% @case.patient.medications.each do |medication| %>

                                <%= render partial: 'documents-modal', locals: { item: medication } %>
                              <% end %>
                            <% end %>
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Treatment or Therapy
                              </a>
                          </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body panel-grid">
                            <% if @case.patient.treatments.attached? %>
                              <% @case.patient.treatments.each do |treatment| %>

                                <%= render partial: 'documents-modal', locals: { item: treatment } %>
                              <% end %>
                            <% end %>
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Procedure or Surgery
                              </a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body panel-grid">
                          <% if @case.patient.surgeries.attached? %>
                            <% @case.patient.surgeries.each do |surgery| %>

                              <%= render partial: 'documents-modal', locals: { item: surgery } %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Lab or Test
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body panel-grid">
                        <% if @case.patient.lab_tests.attached? %>
                          <% @case.patient.lab_tests.each do |lab| %>

                            <%= render partial: 'documents-modal', locals: { item: lab } %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                              <a style="background-color: #F6F9FF" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  Genetic Result
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body panel-grid">
                          <% if @case.patient.genetic_results.attached? %>
                            <% @case.patient.genetic_results.each do |result| %>

                              <%= render partial: 'documents-modal', locals: { item: result } %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingSix">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                  Allergy
                              </a>
                          </h4>
                      </div>
                      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body panel-grid">
                          <% if @case.patient.allergies.attached? %>
                            <% @case.patient.allergies.each do |allergy| %>

                            <%= render partial: 'documents-modal', locals: { item: allergy } %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="symptoms-section">
    <div class="symptoms-container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex">
          <div class="col-md-6 mb-5">
            <h2>Description of the symptoms</h2>
         </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex">
          <div class="col-md-6 mb-5">
            <h3>Sed ut perspiciatis</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
          <div class="col-md-6  mb-5">
            <h3>Sed ut perspiciatis</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex">
          <div class="col-md-6">
            <h3>Sed ut perspiciatis</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
          <div class="col-md-6">
            <h3>Sed ut perspiciatis</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="light-blue-rectangle"></div>

  <div class="row d-flex justify-content-center pb-5">
    <div class="col-md-8">
      <h2 class="projects-title pt-5 mb-2 pl-0">PROJECTS</h2>
        <div>
          <div class="row">
            <div class="col-md-6 d-flex justify-content-between pr-0">
              <p>Projects in which this case is involved</p>
              <p><i class="fas fa-user-friends"></i></p>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <p><i class="fas fa-user-friends"></i></p>
            </div>

          </div>
        </div>


      <ul class=" project-list pl-0">
        <% @links.each do |link| %>
          <% if link.case == @case %>
            <li class="project-list-items"> <%= link_to(project_path(link.project)) do %>
              <%= link.project.name %>
            <% end %>
              <%= link.project.collaborations.count%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
