<div>
  <ul class="cards-container">
    <% @user.cases.each do |c| %>
      <li class="card-case">
        <div class="card-doctor-email">
          <span><%= c.user.full_name.upcase %></span>
          <p><%= c.user.email %></p>
        </div>
        <div class="card-main-infos">
            <!-- should show case title-->
          <h2>Case <%= c.id %> : <%= c.title %></h2>
          <p><%= c.description %></p>
        </div>
        <div class="card-bottom-infos">
          <div class="card-gender-age">
            <!-- add link to patient profile page-->
            <% if  c.patient.gender == "female"%>
                <p class="rounded-gender">F</p>
            <% else %>
                <p class="rounded-gender">M</p>
            <% end %>
            <span class="card-age"><%= c.patient.age %> <span class="card-year">year</span></span>
           <!--  <span>Patient: <%= c.patient.id %></span> -->
          </div>
          <div>
            <%= link_to "Read more ￫",case_path(c) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
