<div>
  <ul class ="project-container pt-2 pb-3">
    <% @user.admin_projects.each do |project| %>
      <li class="card-project">
        <div>
            <div class="card-project-top-infos">
              <p><strong><%= project.links.count %></strong> cases</p>
              <p><strong><%= project.collaborations.count %></strong> collaborators</p>
            </div>
          <div class="card-main-infos">
            <h2><%= project.name %></h2>
            <p><%= project.description %></p>
          </div>
          <div class="card-project-bottom-infos">
            <span><strong>PROJECT</strong></span>
            <div>
              <%= link_to "Read more ￫",project_path(project) %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
