<div class="container">
  <div id="dashboard-top">
    <div>
      <div class="d-flex align-items-end mt-3">
        <h2 class="mb-2"><strong>Hello <%= @user.first_name %></strong></h2>
        <p class="mb-2 ml-5"><%= @user.specialization %></p>
      </div>
      <p class="mb-5 text-muted small"><%= @user.email %></p>
    </div>
    <%= render("creation_menu") %>
  </div>


  <hr>
  <div class="nav-fill">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="patients-tab" data-toggle="tab" href="#patients" role="tab" aria-controls="patients" aria-selected="false">My patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="cases-tab" data-toggle="tab" href="#cases" role="tab" aria-controls="cases" aria-selected="true">My cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="collaborations-tab" data-toggle="tab" href="#collaborations" role="tab" aria-controls="collaborations" aria-selected="false">My collaborations</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="patients" role="tabpanel" aria-labelledby="patients-tab">
        <p>1</p>
      </div>
      <div class="tab-pane fade show active" id="cases" role="tabpanel" aria-labelledby="cases-tab">
        <%= render("case_card") %>
      </div>
      <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
        <%= render("project_card") %>
      </div>
      <div class="tab-pane fade" id="collaborations" role="tabpanel" aria-labelledby="collaborations-tab">
        <%= render("collaboration_card") %>
      </div>
    </div>

  </div>

  <hr>

  <div>
    <div class="d-flex justify-content-between my-3">
      <h4>My patients</h4>
    </div>
      <ul>
        <% @user.patients.each do |patient| %>
          <li>
            <%= link_to(patient_path(patient)) do %>
              Patient <%= patient.id %>:
            <% end %>
            <%= patient.first_name %>  <%= patient.last_name %>
          </li>
        <% end %>
      </ul>
  </div>

</div>
