<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                           url('https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
  <div>
    <div class="banner-title ml-0 text-center">
      <h1>Dedication is our specialty</h1>
    </div>

    <div class="search-bar">
      <%= form_tag search_path, method: :get, class: "d-flex justify-content-center" do %>
        <%= button_tag :submit, class: "btn btn-in-searchbar" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-bar-lg w-100 mr-3",
          placeholder: "Enter search keyword"
        %>
        <%= select_tag(:search_option,  options_for_select([['All Projects', 'projects'], ['All Cases', 'cases']]), id: "search-opt") %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-auto">
  <div class="d-flex justify-content-center">
    <div class="top-left-bloc w-50" style="background-image: url(<%= cl_image_path("homePage-diagram_tmkho2") %>);">
  </div>
    <div class=" d-flex flex-column w-50">
      <div class="d-flex flex-grow-1 top-right-bloc">
        <div class="px-5 col-md-4">
          <h2>SEEK FOR HELP </h2>
          <p>Having patients with rare and mysterious diseases?</p>
        </div>
        <div class="px-5 col-md-4">
          <h2>BUILD A CASE</h2>
          <p>Gather informations and connect with doctors.</p>
        </div>
        <div class="px-5 col-md-4">
          <h2>SHARE</h2>
          <p>Join forces and find solutions together.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <div class="d-flex flex-column align-items-center w-50 bottom-left-bloc">
      <p id="welcome">WELCOME TO BLOOM'S COMMUNITY</p>
      <div class="d-flex justify-content-center">
        <div class="px-5 border-top border-dark pt-5">
          <p class="h2 mb-0">+7K <br><span class="h3">users</span></p>
        </div>
        <div class="px-5 border-top border-dark pt-5">
          <p class="h2 mb-0">+25K <br><span class="h3">cases</span></p>
        </div>
        <div class="px-5 border-top border-dark pt-5">
           <p class="h2 mb-0">+50K <br><span class="h3">projects</span></p>
        </div>
      </div>
    </div>

    <div class=" d-flex flex-column justify-content-center align-items-center w-50 bottom-right-bloc ">
      <div class="w-50 bottom-right-bloc" style="background-image: url(<%= cl_image_path("homePage-diagram-84_zsgja2") %>);"></div>
      <div>
        <p class="col-md-8 mb-5" style="color: white">84% of <strong>Bloom</strong> users said that they received a precious help from collaborators contributing to the resolution of some of their cases.</p>
      </div>
    </div>
  </div>
