<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path "0fcraugfiqoxcks1c64ikr5mrukw", crop: :fill %>')">
  <div class="container">
    <div>
      <div class="small-banner-text col-md-8">
        <h1 class="banner-title">Care and dedication is the driving force behind our work</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-auto">
  <div style="background-color: #071532" class="index-icons d-flex justify-content-center align-items-start py-3">
    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410924/index-search-icon_pdizpl.png" alt="">
      <div>
        <p>Look for a case and help doctors <br>to find solutions for their patients</p>
      </div>
    </div>

    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410926/index-project-icon_u46wzp.png" alt="">
      <div>
        <div class="add-button"><%= link_to "new", new_project_path, class: "my-2" %></div>
        <p>Link your case to a project to get <br>connected with doctors</p>
      </div>
    </div>

    <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <div class="d-flex">
        <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410955/index-case-icon_zciaqa.png" alt="">
      </div>
      <div>
        <p>Create your own case in order to<br> seek a second opinion</p>
      </div>
    </div>

     <div class="col-md-3 index-icons d-flex flex-column align-items-center">
      <img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615410926/index-project-icon_u46wzp.png" alt="">
      <div>
        <p>Link your case to a project to get <br>connected with doctors</p>
      </div>
    </div>

  </div>
</div>

<div class ="container pt-5">
  <ul class="overflow mb-3" id ="project-container">
    <% @projects.each do |project| %>
      <li >
        <div class="card-project">
            <div class="card-project-top-infos">
              <p><strong><%= project.links.count %></strong> cases</p>
              <p><strong><%= project.collaborations.count %></strong> collaborators</p>
            </div>
          <div class="card-main-infos">
            <h2><%= project.name %></h2>
            <p><%= project.description %></p>
          </div>
          <div class="card-project-bottom-infos">
            <span><strong>PROJECT</strong></span>
            <div>
              <%= link_to "Read more ￫",project_path(project) %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

 <div class="light-blue-rectangle"></div>
