<div class ="container">
  <div class="d-flex justify-content-between my-3">
    <h1>Projects</h1>
    <div>
      <%= form_tag projects_path, method: :get, class: "d-flex justify-content-center" do %>
        <%= button_tag :submit, class: "btn btn-search-index" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-bar-index",
          placeholder: ""
        %>
      <% end %>
    </div>
  </div>
  <ul id ="project-container">
    <% @projects.each do |project| %>
      <li >
        <div class="card-project">
            <div class="card-project-top-infos">
              <p><strong><%= project.links.count %></strong> cases</p>
              <p><strong><%= project.collaborations.count %></strong> collaborators</p>
            </div>
          <div class="card-main-infos">
            <h2><%= project.name %></h2>
            <p><%= project.description %></p>
          </div>
          <div class="card-project-bottom-infos">
            <span><strong>PROJECT</strong></span>
            <div>
              <%= link_to "Read more ￫",project_path(project) %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
