<div class="container">

  <h1><%= @project.name %></h1>
  <div>
    <p>Description: <%= @project.description %></p>

    <p>Completed: <%= @project.completed ? "yes" : "no" %></p>

    <% if @project.is_admin?(current_user.id) %>
      <p><%= link_to "Edit", edit_project_path(@project) %></p>
    <% end %>
  </div>

  <div>
    <h4>Asccotiated cases</h4>
    <ul>
      <% @links.each do |link| %>
        <% if link.project == @project %>
          <li>
            <%= link_to(case_path(link.case)) do %>
              <!-- should be link.case.title after title added to Case-->
              Case <%= link.case.id %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="w-50">
    <!-- Condition to be added: admin and collaborators only-->
    <h4>Link a case</h4>
      <%= simple_form_for([@project, @link]) do |f| %>
        <%= f.association :case, label: "Pick a case" %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
  </div>

  <div class="mt-3">
    <h4>Comment</h4>
    <div class="card w-50">
      <% @project.comments.each do |comment| %>
        <p>Dr.<%= comment.user.last_name %>: <%=  comment.content %></p>
      <% end %>
    </div>
    <div class="w-50">
        <%= simple_form_for([@project, @comment]) do |f| %>
          <%= f.input :content  %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

  <div>
    <%= link_to 'Become a collaborator', project_collaborations_path(@project) %>
  </div>

</div>


<!-- /projects/:project_id/comments(.:format) -->
