<p><%= link_to "Back", projects_path %></p>

<h1><%= @project.name %></h1>

<p>Description: <%= @project.description %></p>
<p>Completed: <%= @project.completed ? "yes" : "no" %></p>

<% if @project.is_admin?(current_user.id) %>
  <p><%= link_to "Edit", edit_project_path(@project) %></p>
<% end %>
