<div class="container">
  <h1><%= @patient.first_name %> <%= @patient.last_name %></h1>
  <div>
    <p>Gender: <%= @patient.gender %></p>
    <p>date_of_birth: <%= @patient.date_of_birth %></p>
    <p>address: <%= @patient.address %></p>
  </div>
</div>
